<main class="main-content-container">
  <mat-toolbar color="primary" class="main-toolbar">
    <mat-toolbar-row>
      <h1>{{ header }}</h1>
      <span class="fill-space"></span>
      <span>
        <button mat-icon-button [routerLink]="['/calendar-events/todays-events', today]" matTooltip="View Today's Events">
          <mat-icon>today</mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['/calendar-events/list']" matTooltip="View a list of all Events">
          <mat-icon>list</mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['/calendar-events/create']" matTooltip="Create Event">
          <mat-icon>add</mat-icon>
        </button>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="main-content">
    <div class="main-content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
